body{
  color: #444;
}
.container{
  max-width: 1000px;
  margin: 0 auto;
}

.header__inner{
  display: flex;
  align-items: flex-end;
  margin: 10px 0;
  padding: 20px 0;
  border-top: 1px solid #eaecef;
  border-bottom: 1px solid #eaecef;
}
.header__title{
  font-size: 34px;
  line-height: 23px;
  margin: 0;
  letter-spacing: 0.02em;
  display: flex;
  align-items: flex-end;
  font-weight: 600;
}
.header__img{
  margin-left: 10px;
  display: flex;
  align-items: flex-start;
}
.content__contacts{
  padding: 15px 0;
}
.content__mail,
.content__tg,
.content__instagram{
  text-decoration: none;
}
.content__text{
  font-size: 18px;
  font-style: italic;
  font-weight: 600;
  letter-spacing: 0.02em;
}
.content__items{
  padding-left: 30px;
  font-size: 18px;
  margin-bottom: 30px;
}
.content__item{
  margin-bottom: 15px;
}
.code__examples{
  background-color: #f6f8fa;
  padding: 5px 0;
  font-size: 14px;
}
.work__items{
  font-size: 17px;
  margin-left: 25px;
  padding: 15px 0;
}
.work__item{
  margin-bottom: 15px;
}
.work__link{
  text-decoration: none;
  color: #0366d6;
}
.work__link:hover{
  text-decoration: underline;
}
.footer{
  padding-bottom: 20px;
}